/*
Custom Style
=========================== */
nav {
	border-bottom: solid 1px rgba(239, 239, 239, 0.3);
	min-height: 60px;
	/*background: #fff;*/
}

nav .wrap-core-nav-list,
nav .nav-header {
	/*background: #fff;*/
}

nav .brand {
	display: block;
	position: relative;
	/*width: 150px;*/
	top: 10px;
}

nav .brand img {
	/*width: 100%;*/
	float: left;
	margin-right: 10px; 
}

nav .brand h1 {
	font-size: 16px;
	line-height: 28px;
	display: inline-block;
}


nav .menu li a {
	display: block;
	padding: 30px 15px;
	text-decoration: none;
	color: #3a3a3a;
}

nav .menu li.active > a,
nav .menu li a:hover {
	color: #e74c3c;
}

nav button {
	background: transparent;
	border: none;
	outline: none;
}


@media (max-width: 1024px) {
	nav .brand img {
		/* width: 100%; */
		float: none;
		float: none;
		display: block;
		margin-right: 10px;
	}
	nav .brand h1 {
		display: block;
	}
}


@media (max-width: 992px) {
	nav .full-container,
	nav .nav-container {
		padding-left: 0;
		padding-right: 0;
	}

	nav .nav-header {
		/*min-height: 60px;*/
		min-height: 65px;
	}

	nav .nav-header .brand {
		margin: 0 auto 5px;
		float: left;
		top: 3px;
		left: 15px;
	}

	nav .nav-header .toggle-bar {
		font-size: 20px;
		position: absolute;
		color: #ffffff;
		top: 17px;
		/*left: 15px;*/
		right: 15px;
	}

	nav .menu li a {
		padding: 10px 10px;
		border-bottom: solid 1px #000000;
	}

	nav .menu li:last-child a {
		border-bottom: none;
	}
}
/* =========================== */
