/*
Custom Style
=========================== */







#intro-section{
	/*padding: 100px 0px;*/
	background: linear-gradient(0deg, #f5f5f5 80%, #ffffff 80%);

}

#intro-section .body,
#specialization-section .body,
#service-section .body,
#insite-section .body{
	/*position: relative;
	z-index: 9999;*/
	overflow-y: scroll;
	height: 100vh;
	padding: 15vh 0px;
}

/* width */
#intro-section .body::-webkit-scrollbar,
#specialization-section .body::-webkit-scrollbar,
#service-section .body::-webkit-scrollbar,
#insite-section .body::-webkit-scrollbar {
	width: 10px;
	position: relative;
	z-index: 99999;
}

/* Track */
#intro-section .body::-webkit-scrollbar-track,
#specialization-section .body::-webkit-scrollbar-track,
#service-section .body::-webkit-scrollbar-track,
#insite-section .body::-webkit-scrollbar-track  {
	background: #f5f5f5; 
}

/* Handle */
#intro-section .body::-webkit-scrollbar-thumb,
#specialization-section .body::-webkit-scrollbar-thumb,
#service-section .body::-webkit-scrollbar-thumb,
#insite-section .body::-webkit-scrollbar-thumb {
	background: #8e001d; 
	border-radius: 100px;
}

/* Handle on hover */
#intro-section .body::-webkit-scrollbar-thumb:hover,
#specialization-section .body::-webkit-scrollbar-thumb:hover,
#service-section .body::-webkit-scrollbar-thumb:hover,
#insite-section .body::-webkit-scrollbar-thumb:hover {
	background: #27313d; 
}










.overlay-insite{
	position: absolute;
	background: rgba(39, 49, 61, 0.75);
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	/* Add the blur effect */

}



#intro-section .box-welcome{
	padding: 60px;
	border: solid 5px #de3044;
	height: 500px;
}

#intro-section .box-welcome h2{
	font-size: 40px;
	color: #27313d;
	line-height: 34px;
}

#intro-section .box-welcome h2 span{
	font-size: 20px;
	display: inline-block;
	color: #909090;
}



#intro-section .box-img{
	margin-top: -200px;

}

#intro-section .item-img{
	min-height: 300px;

}










.name, .name-in{
	display: inline-block;
	position: absolute;
	right: 0px;
	padding: 15px;
	/*background: #555555;*/
	text-align: right;
	bottom: 100px;
	z-index: 10;
}
.name-in {
	bottom: 270px;
}
.name{
	background: rgba(85, 85, 85, 0.75);
	bottom: 130px;
}

.name h1{
	font-size: 35px;
	margin-bottom: 0px;
	color: #ffffff;
}

.name-in h1{
	font-size: 90px;
	margin-bottom: 0px;
	line-height: 105px;
	color: rgba(255, 255, 255, 0.65)
}

#slide-section{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}


















#specialization-section{
	/*padding: 100px 0px;*/
	background-image: url(../images/bg-specialization.png);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100%;
}


#specialization-section h2{
	font-size: 40px;
	color: #252525;
	padding-left: 15px;
	margin-bottom: 60px;
	text-transform: uppercase;
	border-left: solid 10px #8e001d;

}



#specialization-section p{
	font-size: 18px;
	color: #999999;
	line-height: 34px;
}

#specialization-section ul{
	padding-inline-start: 25px;
	margin-bottom: 60px;
}

#specialization-section li{
	font-size: 18px;
	color: #999999;
	line-height: 34px;
}



#insite-section .box-service ul  {
	padding-inline-start: 25px;
	list-style: none;
}

#insite-section .box-service ul li{
	line-height: 54px;
}

#insite-section .box-service ul li:before {
	font: normal normal normal 14px/1 IcoFont;
	content: "\ea6d";
	color: #075e95;
	margin-left: -27px;
	font-size: 20px;
	padding-right: 9px;
}
















.box-specialization ul  {
	padding-inline-start: 25px;
	list-style: none;
	/*color: #fffefe;*/
	margin-bottom: 30px;
}

.box-specialization ul li{
	line-height: 34px;
}

.box-specialization ul li:before {
	font: normal normal normal 14px/1 IcoFont;
	content: "\ec77";
	color: #860017;
	margin-left: -27px;
	font-size: 20px;
	padding-right: 9px;
}



















#service-section{
/*	padding: 100px 0px;
background: #27313d;*/
}

#service-section h2{
	font-size: 40px;
	color: #ffffff;
	padding-left: 15px;
	margin-bottom: 60px;
	text-transform: uppercase;
	border-left: solid 10px #8e001d;
}

#service-section .box-service ul  {
	padding-inline-start: 25px;
	list-style: none;
	color: #6f6f6f;
}

#service-section .box-service ul li{
	line-height: 54px;
}

#service-section .box-service ul li:before {
	font: normal normal normal 14px/1 IcoFont;
	content: "\ea6d";
	color: #075e95;
	margin-left: -27px;
	font-size: 20px;
	padding-right: 9px;
}

/*#service-section .box-service ul li:hover:before {
    color: #ffffff;
}
*/










#experience-section{
	padding: 100px 0px;

}

#experience-section h2{
	font-size: 40px;
	color: #222222;
	padding-left: 15px;
	margin-bottom: 60px;
	text-transform: uppercase;
	border-left: solid 10px #8e001d;
}


.item-exp{
	position: relative;	
	display: block;
}


.item-exp .box-img{
	overflow: hidden;
	background: #000000;
}


.item-exp .box-text{
	position: absolute;
	bottom: 0px;
	padding: 10px 30px;
	height: 130px;
	background-image: linear-gradient(transparent, #000000);
	-webkit-transition: height 0.4s ease-out;
	-moz-transition: height 0.4s ease-out;
	-o-transition: height 0.4s ease-out;
	-ms-transition: height 0.4s ease-out;
	transition: height 0.4s ease-out;
}

.item-exp .box-text h4{
	font-size: 28px;
	color: #ffffff;
	font-weight: 700;
}


.item-exp .box-text p{
	font-size: 18px;
	color: #ffffff;
	font-weight: 400;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 2;

}




.item-exp .box-img img{

	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-o-transform: scale(1.3);
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}



.item-exp:hover .box-img img{
	opacity: 0.5;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.item-exp:hover .box-text p{
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 6;

}

.item-exp:hover .box-text{

	height: 250px;
	-webkit-transition: height 0.4s ease-in;
	-moz-transition: height 0.4s ease-in;
	-o-transition: height 0.4s ease-in;
	-ms-transition: height 0.4s ease-in;
	transition: height 0.4s ease-in;
}


#inside-text-h .bg-text {
	position: relative;
	padding: 150px 0px;
	padding-bottom: 210px;
	background: linear-gradient(60deg, rgba(39, 49, 62, 0.7) 33.33%,rgba(39, 49, 62, 0.5) 33.33%,rgba(39, 49, 62, 0.5) 66.66%,rgba(39, 49, 62, 0.3) 66.66%);;
}


#insite-section{
	/*padding: 100px 0px;*/
}





#insite-section .box-gallery{
	margin-bottom: 30px;
	display: block;
	position: relative;
}


#insite-section .box-gallery img{
	-webkit-transition: .5s all ease-in-out;
	-moz-transition: .5s all ease-in-out;
	-ms-transition: .5s all ease-in-out;
	-o-transition: .5s all ease-in-out;
}


#insite-section .box-gallery .bg-img{
	
	background: #27313d;
	overflow: hidden;
}





#insite-section .box-gallery:hover img{
	opacity: 0.5;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}













.box-social a {
	background: #27313d;
	display: inline-block;
	color: #ffffff;
	border-radius: 0px;
	font-size: 30px;
	padding: 5px;
}


.box-social a:hover {
	background: #8e001d;
	color: #ffffff;
}






















.bg-navigator{
	text-align: right;
	/*background: url(../images/pattern.png)repeat 0px 0px;*/
	background-color: transparent;
	color: #ffffff;
	display: block;
	margin: 0 auto;
	position: absolute;
	z-index: 0;
	bottom: 0.1px;
	/*top: 0;*/
	left: 0;
	right: 0;
}

.bg-navigator a:nth-child(1){
	padding: 0px 15px;
	display: inline-block;
	text-decoration: none;
	border-right: solid 1px #cccccc;
	color: #ffffff;
	font-weight: 300;
}

.bg-navigator a{
	padding: 15px 15px;
	display: inline-block;
	text-decoration: none;
	color: #cccccc;
}


.section-1-btn-bottom {
	display: block;
	margin: 0 auto;
	position: absolute;
	z-index: 8;
	bottom: 100px;
	left: 0;
	right: 0;
}
.span-btn-bottom{
	display: inline-block;
	font-size: 22px;
	color: #fff;
	background-color: rgba(0, 35, 70, 0.5);
	border: 4px solid rgba(255, 255, 255, 0.5);
	text-align: center;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	padding: 10px;
	margin-bottom: 10px;
	-webkit-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	-webkit-animation: bounce 3000ms infinite;
	animation: bounce 3000ms infinite;
}







@media (max-width: 2000px) {
	.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
		right: 25%;
		left: auto;
		top: 35%;
	}
}












@media (max-width: 1024px) {
	.swiper-button-next, .swiper-button-prev {
		
		width: calc(var(--swiper-navigation-size)/ 44 * 44);

	}
	.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
		/* right: 10px; */
		right: 15px;
		left: auto;
	}
	.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
		right: 15px;
		left: auto;
		top: 35%;
	}

}


@media (max-width: 992px) {
	.name, .name-in {
		display: inline-block;
		position: absolute;
		right: 0px;
		padding-right: 15px;
		text-align: right;
		bottom: 100px;
		z-index: 10;
	}
	.name h1 {
		font-size: 20px;
		line-height: 30px;
	}
	.name-in h1 {
		font-size: 45px;
		margin-bottom: 0px;
		    line-height: 60px;
		color: rgba(255, 255, 255, 0.65);
	}
	#intro-section .box-welcome {
		padding: 15px;
		border: solid 5px #de3044;
		height: inherit;
		margin-top: 100px;
	}
	#top-header p {
		color: #ffffff;
		font-size: 16px;
	}
	#service-section .box-service ul li {
		line-height: 30px;
	}
	#intro-section, #specialization-section, #service-section, #experience-section, #insite-section {
		/*padding: 50px 0px;*/
	}
	#intro-section h2, #specialization-section h2, #service-section h2, #experience-section h2, #insite-section h3  {
		font-size: 25px;
		margin-bottom: 30px;	
	}

	#intro-section h2{
		margin-bottom: 0px;
	}
	#specialization-section h3{
		margin-top: 100px;
		font-size: 18px;
		line-height: 25px;
	}
	#specialization-section ul {
		margin-bottom: 30px;
	}
	
	#specialization-section li{
		font-size: 18px;
		color: #999999;
		line-height: 34px;
	}
	#intro-section .box-img {
		margin-top: 30px;
	}
	.box-service{
		margin-top: 40px;
	}
	h4 {
		font-size: 18px;
		line-height: 30px;
	}
	.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
		/* right: 10px; */
		right: 0px;
		left: auto;
	}
	.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
		right: 0px;
		left: auto;
		top: 30%;
	}
	#inside-text-h .bg-text {
		position: relative;
		padding: 150px 0px;
		padding-bottom: 30px;
		background: linear-gradient(60deg, rgba(39, 49, 62, 0.7) 33.33%,rgba(39, 49, 62, 0.5) 33.33%,rgba(39, 49, 62, 0.5) 66.66%,rgba(39, 49, 62, 0.3) 66.66%);
	}
	#intro-section .body, #specialization-section .body, #service-section .body, #insite-section .body {
		padding: 0vh 0px; 
		padding-bottom: 120px;
	}
	.item-exp .box-text {
		position: absolute;
		bottom: 0px;
		padding: 10px 15px;
		height: 130px;
		background-image: linear-gradient(transparent, #000000);
		-webkit-transition: height 0.4s ease-out;
		-moz-transition: height 0.4s ease-out;
		-o-transition: height 0.4s ease-out;
		-ms-transition: height 0.4s ease-out;
		transition: height 0.4s ease-out;
	}
	.text-h{
		margin-top: 100px;
	}
	#insite-section .row{
		margin-bottom: 150px;
		margin-top: 100px;
	}
	.name{
		left: 0px;
		background: rgba(85, 85, 85, 0);
	}
	.name-in {
		bottom: 40vh;
	}

}
/* =========================== */ 


@media  (max-width: 575px) {
}